<div class="p-8 sm:p-52">
  <h1 class="text-3xl font-bold">About me</h1>
  <div class="flex flex-col gap-4">
    <p class="mt-2">
      Always passionate about beauty, I graduated from Travelling School in Montpellier south of France. These two years studying allowed me to develop skills in many specialties, like Fashion, Film, Artistic or Bridal allowing me to provide for each needs. I love to create timeless looks that enhance every model.
    </p>
    <hr class="h-[2px] border-t-0 bg-neutral-100 dark:bg-white/10" />
    <p>
      Passionnée depuis toujours par l’univers de la beauté, je suis diplômée de l’école de cinema Travelling à Montpellier. Ces 2 ans d’études m’ont permis de developper des compétences dans plusieurs domaines, tels que la Mode, le Cinéma, l’Artistique ou le Mariage afin de m’adapter à chaque besoin spécifique. J’aime créer des look intemporels et qui subliment chaque modèle.
    </p>
  </div>
</div>
