<div class="h-full mx-auto m-12">
  <h1 class="my-3 text-center text-4xl font-bold">Contact</h1>
  <div class="flex flex-col gap-2 items-center">
    <p>Contact me at
      <a href="mailto:lauryn.makeupartist@outlook.fr" class="hover:underline">
        lauryn.makeupartist&#64;outlook.fr
      </a>
      or drop me a message below:
    </p>
    <form [formGroup]="contactForm" (ngSubmit)="sendEmail()" class="w-1/2">
      <input type="text" formControlName="honeypot" style="display: none" />
      <input
        type="email"
        formControlName="email"
        class="my-1 block w-full border border-slate-300 bg-white px-3 py-4 text-gray-500"
        placeholder="Email"
      />
      @if (email.invalid && (email.dirty || email.touched)) {
        <div class="text-red-500 text-sm mt-1">
          @if (email.errors?.['required']) {
            <div>Email address is required.</div>
          }
          @if (email.errors?.['email']) {
            <div>Please enter a valid email address.</div>
          }
        </div>
      }
      <textarea
        formControlName="message"
        placeholder="Message"
        cols="30"
        rows="10"
        class="h-40 w-full resize-none border border-slate-300 bg-white px-3 py-4 text-gray-500"
      ></textarea>
      @if (message.invalid && (message.dirty || message.touched)) {
        <div class="text-red-500 text-sm mt-1">
          @if (message.errors?.['required']) {
            <div>Message is required.</div>
          }
        </div>
      }
      <div class="text-center mt-4 flex items-center justify-center gap-2">
        <button
          type="submit"
          [disabled]="contactForm.invalid || sending"
          class="cursor-pointer px-8 py-2 font-semibold text-neutral-700 disabled:opacity-50"
        >
        @if (emailSent) {
          Sent
        } @else {
          {{ sending ? 'Sending...' : 'Send' }}
        }
        </button>
      </div>
    </form>
  </div>
</div>
