/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.mulish-300 {
   font-family: "Mulish", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
}
